body, html {scroll-behavior: smooth;}
.header_nav {}
.header_nav header{display: flex; border-bottom: 1px solid black; padding-bottom: 18px; position: fixed; background-color: white; z-index: 999; width: 100%;}
.header_nav header h1{ padding-top: 25px;}
.header_nav header h1 a{font-family: "Antic Didone", serif; margin-left: 80px; margin-right: 503px; font-size: 2rem;}
.header_nav header nav{padding-top: 30px;}
.header_nav header nav > a{font-family: "Antic Didone", serif; margin-right: 120px; font-size: 1.5rem;}
.header_nav header nav .ma{font-family: "Antic Didone", serif; margin-right: 0;}
/* =============================================================================bg1===================================================================================*/
.bg1 {display: flex; position: relative;}
.bg1 .right{margin: 150px auto 0; transform: translateX(200px);}
.bg1 .right h1{}
.bg1 .right h1 img{}
.bg1 .left{position: absolute; right: 61px; top: 201px;}
.bg1 .left h1{}
.bg1 .left h1 img{}
/* =============================================================================bg2===================================================================================*/
.bg2{}
.bg2 .all{display: flex; width: 1493px; margin: 0 auto;}
.bg2 .all .right{margin-top: 107px; text-align: center;}
.bg2 .all .right h1{}
.bg2 .all .right h1 img{width: 305px; height: 365px;}
.bg2 .all .right h2{font-family: "Brygada 1918", serif; font-size: 4rem;margin-top: 36px; margin-bottom: 32px;}
.bg2 .all .right p{font-family: "Nanum Gothic", sans-serif; font-size: 1.25rem;line-height: 30px; color: #  434343;}
.bg2 .all .left{margin-top: 82px; margin-left: 120px;}
/* about */
.bg2 .all .left .about{}
.bg2 .all .left .about h1{font-family: "Brygada 1918", serif; font-size: 1.75rem; margin-bottom: 24px; font-weight: 500;}
.bg2 .all .left .about dl{display: flex; flex-flow: row wrap;}
.bg2 .all .left .about dl dt{font-family: "Brygada 1918", serif; font-size: 1.25rem; width: 85px; margin-bottom: 27px;font-weight: 500;}
.bg2 .all .left .about dl dd{font-size: 1.125rem;width: calc(50% - 85px);}
/* Education */
.bg2 .all .left .Education{margin-top: 18px;}
.bg2 .all .left .Education h1{font-family: "Brygada 1918", serif;font-size: 1.75rem; margin-bottom: 33px;font-weight: 500;}
.bg2 .all .left .Education dl{display: flex; flex-flow: row wrap;font-weight: 500;}
.bg2 .all .left .Education dl dt{font-size: 1.25rem; margin-right: 30px;font-weight: 500;}
.bg2 .all .left .Education dl dd{font-size: 1.125rem;}
.bg2 .all .left .cc{display: flex; margin-top: 46px;}
/* Career */
.bg2 .all .left .cc .Career{}
.bg2 .all .left .cc .Career h1{font-family: "Brygada 1918", serif; font-size: 1.75rem; margin-bottom: 24px; font-weight: 500;}
.bg2 .all .left .cc .Career dl{display: flex;}
.bg2 .all .left .cc .Career dl dt{font-size: 1.25rem; margin-right: 30px;font-weight: 500;}
.bg2 .all .left .cc .Career dl dd{font-size: 1.125rem;margin-right: 203px;}
/* Certificate */
.bg2 .all .left .cc .Certificate {}
.bg2 .all .left .cc .Certificate h1 {font-family: "Brygada 1918", serif;font-size: 1.75rem;font-weight: 500; margin-bottom: 32px;}
.bg2 .all .left .cc .Certificate dl{display: flex; flex-flow: row wrap; width: 246px;} 
.bg2 .all .left .cc .Certificate dl dt{font-size: 1.25rem;font-weight: 500; margin-bottom: 10px; margin-right: 29px;}
.bg2 .all .left .cc .Certificate dl dd{font-size: 1.125rem;}
/* skill */
.bg2 .all .left .skill{margin-top: 55px;}
.bg2 .all .left .skill h1{font-family: "Brygada 1918", serif;font-size: 1.75rem; margin-bottom: 25px;}
.bg2 .all .left .skill p{}
/* =============================================================================bg3===================================================================================*/
.bg3{}
.bg3 .all{display: flex; width: 1600px; margin: 0 auto;justify-content: space-between;}
.bg3 .all .right{}
.bg3 .all .right h1{margin-top: 76px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 66px;}
.bg3 .all .right h2{}
.bg3 .all .right h2 img{}
.bg3 .all .left{}
.bg3 .all .left h1{margin-top: 204px; font-size: 3rem; border-bottom: 1px solid black; padding-bottom: 30px; font-family: "Nanum Gothic", sans-serif;display: inline-block;}
.bg3 .all .left h1 em{margin-left: 410px; color: #B1B1B1; font-family: "Brygada 1918", serif;}
.bg3 .all .left p{font-size: 1.275rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif; line-height: 37px;}
.bg3 .all .left .line{font-size: 1.275rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif;}
.bg3 .all .left p span{font-weight: 600;font-family: "Nanum Gothic", sans-serif;}
.bg3 .all .left a{border: 1px solid black; font-size: 1.25rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;}
.bg3 .all .left .po{margin-left: 20px; border: 1px solid black; font-size: 1.25rem; display: inline-block; padding: 7px 20px; }
/* =============================================================================bg4===================================================================================*/
.bg4 {}
.bg4 .swiper{}
.bg4 .swiper .swiper-wrapper{}
.bg4 .swiper .swiper-wrapper .swiper-slide{}
/* nike */
.bg4 .swiper .swiper-wrapper .swiper-slide .nike{display: flex; width: 1600px; margin: 0 auto;justify-content: space-between; margin-top: 50px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right h1{margin-top: 76px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 66px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right h2 {} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right h2 img{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left h1{margin-top: 200px; font-size: 3rem; border-bottom: 1px solid black; padding-bottom: 30px; font-family: "Nanum Gothic", sans-serif;display: inline-block;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left h1 em{margin-left: 250px; color: #B1B1B1; font-family: "Brygada 1918", serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left p{font-size: 1.175rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif; line-height: 37px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left p span{font-weight: 600;font-family: "Nanum Gothic", sans-serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left a{border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left .git{margin: 0 20px; border: 1px solid black; font-size: 1.25rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;} 
/* MMALL */
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall{display: flex; width: 1600px; margin: 0 auto;justify-content: space-between; margin-top: 50px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right h1{margin-top: 76px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 66px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right h2 {} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right h2 img{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left h1{margin-top: 200px; font-size: 3rem; border-bottom: 1px solid black; padding-bottom: 30px; font-family: "Nanum Gothic", sans-serif;display: inline-block;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left h1 em{margin-left: 250px; color: #B1B1B1; font-family: "Brygada 1918", serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left p{font-size: 1.175rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif; line-height: 37px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left p span{font-weight: 600;font-family: "Nanum Gothic", sans-serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left a{border: 1px solid black; font-size: 1.25rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left .git{margin: 0 20px; border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;} 

/* mac */
.bg4 .swiper .swiper-wrapper .swiper-slide .mac{display: flex; width: 1600px; margin: 0 auto;justify-content: space-between; margin-top: 50px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right h1{margin-top: 76px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 66px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right h2 {} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right h2 img{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left h1{margin-top: 200px; font-size: 3rem; border-bottom: 1px solid black; padding-bottom: 30px; font-family: "Nanum Gothic", sans-serif;display: inline-block;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left h1 em{margin-left: 250px; color: #B1B1B1; font-family: "Brygada 1918", serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left p{font-size: 1.175rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif; line-height: 37px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left p span{font-weight: 600;font-family: "Nanum Gothic", sans-serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left a{border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left .git{margin: 0 20px; border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;} 

/* isaac */
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac{display: flex; width: 1600px; margin: 0 auto;justify-content: space-between; margin-top: 50px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right h1{margin-top: 76px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 66px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right h2 {} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right h2 img{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left{} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left h1{margin-top: 200px; font-size: 3rem; border-bottom: 1px solid black; padding-bottom: 30px; font-family: "Nanum Gothic", sans-serif;display: inline-block;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left h1 em{margin-left: 241px; color: #B1B1B1; font-family: "Brygada 1918", serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left p{font-size: 1.175rem; margin-top: 30px; font-family: "Nanum Gothic", sans-serif; line-height: 37px;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left p span{font-weight: 600;font-family: "Nanum Gothic", sans-serif;} 
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left a{border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;}
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left .git{margin: 0 20px; border: 1px solid black; font-size: 1.15rem; display: inline-block; padding: 7px 20px; margin-top: 20px; border-radius: 10px;} 

/* 버튼 */

/* =============================================================================bg5===================================================================================*/
.bg5{}
.bg5 h1{font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 91px; margin-left: 178px;}
.bg5 .sns{}
.bg5 .sns .swiper{}
.bg5 .sns .swiper .swiper-wrapper{}
.bg5 .sns .swiper .swiper-wrapper .swiper-slide{} 
.bg5 .sns .swiper .swiper-wrapper .swiper-slide img{} 
/* =============================================================================bg6===================================================================================*/
.bg6{}
.bg6 h1{padding-top: 91px; font-size: 5.625rem; font-family: "Brygada 1918", serif; margin-bottom: 91px; margin-left: 178px;}
.bg6 .thankyou{text-align: center; font-size: 1.5rem; margin-bottom: 234px;}
.bg6 .thankyou h2{font-family: "Nanum Gothic", sans-serif; font-size: 1.5rem; line-height: 35px;}
.bg6 .thankyou h3{margin: 25px 0;}
.bg6 .thankyou h3 img{}
.bg6 .thankyou p{}
.bg6 .thankyou p em{font-weight: 500; line-height: 35px;}
/* 애니메이샨 */
/* 웹프로젝트 이미지들 */
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right h2 img{transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .right h2 img:hover {
transform: scale(1.05); 
}
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right h2 img{transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .right h2 img:hover {
transform: scale(1.05); 
}
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right h2 img{transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .right h2 img:hover {
transform: scale(1.05); 
}
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right h2 img{transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .right h2 img:hover {
transform: scale(1.05); 
}
.bg3 .all .right h2 img{transition: 1s;}
.bg3 .all .right h2 img:hover{transform: scale(1.05);}
.bg5 .sns .swiper .swiper-wrapper .swiper-slide img{transition: 1s;}
.bg5 .sns .swiper .swiper-wrapper .swiper-slide img:hover{transform: scale(1.05);}
/* nav */
/* 뭐 보러가기 */
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left a {transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .nike .left a:hover {transform: scale(1.05);}
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left a {transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mac .left a:hover {transform: scale(1.05);}
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left a {transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .mmall .left a:hover {transform: scale(1.05);}
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left a {transition: 1s;}
.bg4 .swiper .swiper-wrapper .swiper-slide .isaac .left a:hover {transform: scale(1.05);}
.bg3 .all .left a{transition: 1s;}
.bg3 .all .left a:hover{transform: scale(1.05); }
